*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #0655a4;
	--light-blue:#3C91E6 ;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('../images/login.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
	background: var(--light);
    width:450px;
	height: auto;
    padding:1.5rem;
    margin:50px auto;
	border: 2px solid rgba(255,255,255,0.5);
    border-radius:10px; 
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
}
form{
    margin:0 2rem;
}
.form-title{
	color: var(--dark) ;
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    padding:1.3rem;
    margin-bottom:0.4rem;
}
input{
	color: var(--dark);
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid var(--dark);
    padding-left:1.5rem;
    font-size:16px;
	margin-bottom: 25px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:var(--dark);
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid var(--dark);
}
input::placeholder{
    color: var(--dark);
    opacity: 1;
}

input:focus~label,input:not(:placeholder-shown)~label{
    top:-3em;
    color:var(--dark);
    font-size:15px;
}
.recover{
    text-align:right;
    font-size:1rem;
    margin-bottom:1rem;

}
.recover a{
    text-decoration:none;
    color:var(--dark);
}
.recover a:hover{
    text-decoration:underline;
}
.btn{
    font-size:1.1rem;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:var(--light-blue);
    color:white;
    cursor:pointer;
    transition:0.9s;
}
.btn:hover{
    background:var(--blue);
}
.or{
    font-size:1.1rem;
    margin-top:0.5rem;
    text-align:center;
	color: var(--dark);
	margin-top: 15px;
	margin-bottom: 35px;
}
.icons{
    text-align:center;
}
.icons a{
    color:var(--dark);
    padding:0.8rem 1rem;
    border-radius:10px;
    font-size:1.5rem;
    border:2px solid hsl(213, 52%, 92%);
	margin: 0 15px;
	transition: 0.4s;

}
.social-facebook:hover{
    background: var(--light-blue);
    font-size:1.5rem;
    border:2px solid var(--light-blue);
}
.social-google:hover{
    background: var(--red);
    font-size:1.5rem;
    border:2px solid var(--red);
}
.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:2.5rem;
    font-weight:bold;
	color: var(--dark);
}
button{
    color:var(--dark);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}
button:hover{
    text-decoration:underline;
}

.error {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
	text-align: center;
}
.success {
    color: green;
    background-color: #8df09f;
    padding: 10px;
    border: 1px solid #92e9ac;
    border-radius: 5px;
    margin-bottom: 20px;
	text-align: center;
}